In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np
a = np.random.randint(0,10,24).reshape(4,6)
df = pd.DataFrame(a, index=list("가나다라"), columns=list("ABCDEF"))

In [3]:
df

   A  B  C  D  E  F
가  2  1  8  9  4  3
나  8  8  9  9  8  1
다  7  4  6  4  9  6
라  6  8  4  3  9  9

## DF["열이름"] : 열만 가능

In [5]:
df["A"]

가    2
나    8
다    7
라    6
Name: A, dtype: int32

In [6]:
df[["A", "B", "C"]] # 대괄호 형식은 리스트 형식

   A  B  C
가  2  1  8
나  8  8  9
다  7  4  6
라  6  8  4

## DF.LOC{"행이름", "열이름"}

In [8]:
df.loc["가", "A"]

2

In [12]:
df.loc["가":"다", "A":"E"]

   A  B  C  D  E
가  2  1  8  9  4
나  8  8  9  9  8
다  7  4  6  4  9

In [13]:
df.loc["가":"다"] # 디포틀로 행만 지정

   A  B  C  D  E  F
가  2  1  8  9  4  3
나  8  8  9  9  8  1
다  7  4  6  4  9  6

## DF.ILOC[행번호, 열번호] : 행, 열 모두가능, 슬라이싱 가능

In [14]:
df.iloc[0:3, 0:5]

   A  B  C  D  E
가  2  1  8  9  4
나  8  8  9  9  8
다  7  4  6  4  9

In [15]:
df.iloc[0:3, [1,3]] # 리스트 형식

   B  D
가  1  9
나  8  9
다  4  4

In [17]:
df.drop("D", axis=1) # axis=1이 열이고, axis=0 행 (디폴트)

   A  B  C  E  F
가  2  1  8  4  3
나  8  8  9  8  1
다  7  4  6  9  6
라  6  8  4  9  9

In [19]:
# B, D, E, F열과 가나다행의 자료를 추출하라

df.iloc[:3, 1:].drop("C", axis=1)

   B  D  E  F
가  1  9  4  3
나  8  9  8  1
다  4  4  9  6