In [1]:
import pandas as pd # numupy

In [18]:
pd.read_html("https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=2022")[0]
# 크롤링 웹피이지 주소

   순위    팀  경기수   승   패  무     승률   게임차  연속    출루율    장타율   최근 10경기
0   1  SSG  100  67  30  3  0.691   0.0  2승  0.337  0.383  7승-3패-0무
1   2   LG   98  59  38  1  0.608   8.0  2승  0.349  0.413  5승-5패-0무
2   3   키움  101  59  40  2  0.596   9.0  2패  0.334  0.360  2승-7패-1무
3   4   KT   97  52  43  2  0.547  14.0  1패  0.333  0.376  6승-4패-0무
4   5  KIA   98  49  48  1  0.505  18.0  1승  0.352  0.401  3승-7패-0무
5   6   두산   96  43  51  2  0.457  22.5  1패  0.326  0.356  7승-3패-0무
6   7   NC   96  40  53  3  0.430  25.0  2승  0.329  0.370  6승-3패-1무
7   8   롯데  100  41  55  4  0.427  25.5  2패  0.316  0.373  3승-6패-1무
8   9   삼성   99  40  57  2  0.412  27.0  2패  0.326  0.368  4승-4패-2무
9  10   한화   99  31  66  2  0.320  36.0  1승  0.318  0.362  4승-5패-1무

In [12]:
url = "https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=" #url
year = "2022" #year
years = ["2016", "2017", "2018", "2019", "2020", "2021", "2022"] # 리스트에서 원소를 가져오는 인덱싱

In [15]:
df = pd.DataFrame([]) #빈프레임 설정
for i in years:      # for문 생성
    df1 = pd.read_html(url + i)[0] # df1 지정
    df = pd.concat([df, df1]) # df 프레임 쌓임
df # df 실행

    순위    팀  경기수   승   패  무     승률   게임차  연속    출루율    장타율   최근 10경기
0    1   두산  144  93  50  1  0.650   0.0  2승  0.378  0.473  6승-4패-0무
1    2   NC  144  83  58  3  0.589   9.0  2패  0.375  0.450  6승-4패-0무
2    3   넥센  144  77  66  1  0.538  16.0  3패  0.368  0.440  3승-7패-0무
3    4   LG  144  71  71  2  0.500  21.5  1패  0.361  0.417  4승-5패-1무
4    5  KIA  144  70  73  1  0.490  23.0  2패  0.358  0.452  5승-5패-0무
..  ..  ...  ...  ..  .. ..    ...   ...  ..    ...    ...       ...
5    6   두산   96  43  51  2  0.457  22.5  1패  0.326  0.356  7승-3패-0무
6    7   NC   96  40  53  3  0.430  25.0  2승  0.329  0.370  6승-3패-1무
7    8   롯데  100  41  55  4  0.427  25.5  2패  0.316  0.373  3승-6패-1무
8    9   삼성   99  40  57  2  0.412  27.0  2패  0.326  0.368  4승-4패-2무
9   10   한화   99  31  66  2  0.320  36.0  1승  0.318  0.362  4승-5패-1무

[70 rows x 12 columns]

In [19]:
df = pd.DataFrame([]) #빈프레임 설정
for i in years:      # for문 생성
    df1 = pd.read_html(url + i)[0] # df1 지정
    df1["연도"] = i # 연도 열 생성
    df = pd.concat([df, df1]) # df 프레임 쌓임
df # df 실행

    순위    팀  경기수   승   패  무     승률   게임차  연속    출루율    장타율   최근 10경기    연도
0    1   두산  144  93  50  1  0.650   0.0  2승  0.378  0.473  6승-4패-0무  2016
1    2   NC  144  83  58  3  0.589   9.0  2패  0.375  0.450  6승-4패-0무  2016
2    3   넥센  144  77  66  1  0.538  16.0  3패  0.368  0.440  3승-7패-0무  2016
3    4   LG  144  71  71  2  0.500  21.5  1패  0.361  0.417  4승-5패-1무  2016
4    5  KIA  144  70  73  1  0.490  23.0  2패  0.358  0.452  5승-5패-0무  2016
..  ..  ...  ...  ..  .. ..    ...   ...  ..    ...    ...       ...   ...
5    6   두산   96  43  51  2  0.457  22.5  1패  0.326  0.356  7승-3패-0무  2022
6    7   NC   96  40  53  3  0.430  25.0  2승  0.329  0.370  6승-3패-1무  2022
7    8   롯데  100  41  55  4  0.427  25.5  2패  0.316  0.373  3승-6패-1무  2022
8    9   삼성   99  40  57  2  0.412  27.0  2패  0.326  0.368  4승-4패-2무  2022
9   10   한화   99  31  66  2  0.320  36.0  1승  0.318  0.362  4승-5패-1무  2022

[70 rows x 13 columns]

In [45]:
url = "https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=" #url
year = "2022" #year
years = range(2015, 2023) # 리스트에서 원소를 가져오는 인덱싱 #range 함수

In [48]:
df = pd.DataFrame([]) #빈프레임 설정
for i in years:      # for문 생성
    df1 = pd.read_html(url + str(i))[0] # df1 지정 #string 문자열 리스트
    df1["연도"] = (i) # 연도 열 생성
    df = pd.concat([df, df1]) # df 프레임 쌓임
df # df 실행

    순위   팀  경기수   승   패  무     승률   게임차  연속    출루율    장타율   최근 10경기    연도
0    1  두산  144  79  65  0  0.549   0.0  2승  0.370  0.435  7승-3패-0무  2015
1    2  삼성  144  88  56  0  0.611  -9.0  3승  0.378  0.469  4승-6패-0무  2015
2    3  NC  144  84  57  3  0.596  -6.5  1패  0.367  0.455  5승-4패-1무  2015
3    4  넥센  144  78  65  1  0.545   0.5  1패  0.372  0.486  4승-6패-0무  2015
4    5  SK  144  69  73  2  0.486   9.0  1승  0.349  0.410  6승-4패-0무  2015
..  ..  ..  ...  ..  .. ..    ...   ...  ..    ...    ...       ...   ...
5    6  두산   96  43  51  2  0.457  22.5  1패  0.326  0.356  7승-3패-0무  2022
6    7  NC   96  40  53  3  0.430  25.0  2승  0.329  0.370  6승-3패-1무  2022
7    8  롯데  100  41  55  4  0.427  25.5  2패  0.316  0.373  3승-6패-1무  2022
8    9  삼성   99  40  57  2  0.412  27.0  2패  0.326  0.368  4승-4패-2무  2022
9   10  한화   99  31  66  2  0.320  36.0  1승  0.318  0.362  4승-5패-1무  2022

[80 rows x 13 columns]

In [58]:
# 2번의 결과물을 다양한 방법으로 피벗해본다.
df.pivot(values="순위", index="연도", columns="팀")

팀     KIA  KT  LG  NC  SSG  두산  롯데  삼성  키움  한화
연도
2015    7  10   9   3    5   1   8   2   4   6
2016    5  10   4   2    6   1   8   9   3   7
2017    1  10   6   4    5   2   3   9   7   8
2018    5   9   8  10    1   2   7   6   4   3
2019    7   6   4   5    3   1  10   8   2   9
2020    6   3   4   1    9   2   7   8   5  10
2021    9   1   4   7    6   2   8   3   5  10
2022    5   4   2   7    1   6   8   9   3  10

In [59]:
df = df.replace({"kt":"KT", "SK":"SSG", "넥센":"키움"}) # 팀명이 바뀐팀들의 팀명 수정

In [56]:
df.pivot(values="순위", index="연도", columns="팀")

팀     KIA  KT  LG  NC  SSG  두산  롯데  삼성  키움  한화
연도
2015    7  10   9   3    5   1   8   2   4   6
2016    5  10   4   2    6   1   8   9   3   7
2017    1  10   6   4    5   2   3   9   7   8
2018    5   9   8  10    1   2   7   6   4   3
2019    7   6   4   5    3   1  10   8   2   9
2020    6   3   4   1    9   2   7   8   5  10
2021    9   1   4   7    6   2   8   3   5  10
2022    5   4   2   7    1   6   8   9   3  10